{% extends "blog/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data">
            <legend class="d-flex justify-content-center"> Zaloguj się</legend>
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col mb-2">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col ">
                        {{ form.password|as_crispy_field }}
                        <a href="{% url 'password_reset' %}"class="float-right"><small>Zapomniałeś hasła?</small></a>
                    </div>
                </div>
                <button class="btn btn-sample btn-block" type="submit"><span style="font-size:smaller;">Zaloguj się </span></button>
            </div>
            <div class="d-flex justify-content-center">
                <small class="text-muted"> Nie masz konta?<a class="ml-2" href="{% url 'register' %}">Zarejestruj się</a></small>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
