{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media-body">
            <div class="d-flex justify-content-center mb-4">
                <h2>Wylogowanie zakończono pomyślnie!</h2>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'login' %}"><button class="btn btn-sample btn-block">Zaloguj się ponownie</button></a>
            </div>
        </div>
    </div>
{% endblock content %}
