{% extends "blog/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data">
            <legend class="d-flex justify-content-center"> Zresetuj hasło</legend>
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col mb-2">
                        {{ form.email }}
                    </div>
                </div>
                <button class="btn btn-sample btn-block" type="submit"><span style="font-size:smaller;">Resetuj hasło</span></button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
