{% extends "blog/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
<div class="content-section">
    <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data">
            <legend class="d-flex justify-content-center"> Dołącz Dziś</legend>
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col mb-2">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-2">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-2">
                        {{ form.password1 }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-2">
                        {{ form.password2 }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-2">
                        <p><strong>Poszukuję ubranek:</strong></p>
                        {{ form.interested_sex_tag}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col mb-2">
                        <p><strong>w wieku:</strong></p>
                        {{ form.interested_age_tag }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-sample btn-block" type="submit"><span style="font-size:smaller;">Zapisz</span></button>
            </div>
            <div class="d-flex justify-content-center">
                <small class="text-muted"> Masz już konto?<a class="ml-2" href="{% url 'login' %}">Zaloguj się</a></small>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

