{% extends "blog/base.html" %}
{% block content %}
<div class="sticky-top">
    <a class="mr-2" href="{% url 'product-create' %}"><button class="btn btn-sample btn-block">Dodaj produkt</button></a>
</div>

<div id="product-list">
    {% include 'market/list_ajax.html' %}
</div>
{% endblock content %}

{% block domready %}
    var page = 1;
    var empty_page = false;
    var block_request = false;

    $(window).scroll(function() {
        var margin = $(document).height() - $(window).height() - 200;
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
            block_request = true;
            page += 1;
            $.get('?page=' + page, function(data) {
                if(data == '')
                {
                    empty_page = true;
                }
                else {
                    block_request = false;
                    $('#product-list').append(data);
                }
            });
        }
    });

{% endblock %}
