{% extends "blog/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="d-flex justify-content-center">Nowy Produkt</legend>
            {{ form.title}}
            <div class="input-group mb-3 mt-3">
                {{ form.price }}
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">PLN</span>
                </div>
            </div>
            <div class="form-inline ml-1 mb-2 mt-2 mr-1">
                <strong>Poniższe zdjęcie będzie widoczna na stronie głównej marketu {{ form.photo_1|as_crispy_field }}</strong>
            </div>
        <div class="form-inline ml-1 mb-2 mt-4 mr-1">
                Produkt przeznaczony dla <br>{{ form.tag_sex|as_crispy_field }}
        </div>
        <div class="form-inline ml-1 mb-2 mt-2 mr-1">
                w wieku {{ form.tag_age|as_crispy_field }}
        </div>
        <div class="form-row mt-2">
            <div class="form-group col mb-2">
                {{ form.description|as_crispy_field }}
            </div>
        </div>
        <div class="form-inline ml-1 mb-2 mt-2 mr-1">
                <strong>Poniższe zdjęcia będą widoczna na stronie z detalami produktu</strong>
                {{ form.photo_2|as_crispy_field }}
                {{ form.photo_3|as_crispy_field }}
        </div>
        <br>
        <button class="btn btn-sample btn-block" type="submit">Dodaj Produkt</button>
    </fieldset>
</form>


    <!-- <div class="content-section">
        <form method="POST"  enctype="multipart/form-data" class="d-flex justify-content-center">
            {% csrf_token %}
            <fieldset  class="d-flex justify-content-centerk">
                <legend class="d-flex justify-content-center"> Nowy Produkt</legend>
                {{ form.title|as_crispy_field }}
                <p>Poniższe zdjęcie będzie widoczna na stronie głównej marketu</p>
                {{ form.photo_1|as_crispy_field }}
                {{ form.description|as_crispy_field }}
                <button class="btn btn-sample btn-block" type="submit">Publikuj</button>
            </fieldset>
        </form>
        <br>
        <a class="mr-2" href="{% url 'blog-home' %}"><button class="btn btn-outline-info btn-block">Wróć do bloga</button></a>
    </div> -->
{% endblock content %}
