{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <div class="d-flex align-content-end flex-wrap" >
                <div class="p-2 mr-auto">
                    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                </div>
                <div class="p-2 mr-auto">
                    <a class="mr-2" href="{% url 'profile' object.author %}">{{ object.author }}</a>
                    <br>
                    <small class="text-muted mr-2">{{ object.date_posted|date:"d F Y" }}</small>
                </div>
            </div>
            {% if object.author == user %}
            <div class="d-flex bd-highlight" >
                <div class="mr-auto p-2 bd-highlight">
                    <a class="btn btn-danger btn-sm float-right" href="{% url 'product-delete' object.id%}"><span style="font-size:smaller;">Usuń</span></a>
                </div>
                <div class="p-2 bd-highlight">
                    <a class="btn btn-sample btn-sm float-right mr-2" href="{% url 'product-update' object.id%}"><span style="font-size:smaller;">Popraw</span></a>
                </div>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <div class="d-flex bd-highlight" >
                <div class="mr-auto p-2 bd-highlight">
                    <p class="text-muted">{{object.price}} PLN</p>
                </div>
                <div class="p-2 bd-highlight">
                    <span class="count">
                        <span class="total">{{total_views}}</span> wyświetleń
                     </span>
                </div>
            </div>
        <!-- <p class="text-muted">{{object.price}} PLN</p>
        <span class="count">
            <span class="total">{{total_views}}</span> wyświetleń
        </span> -->
        <p>Przeznaczony dla <strong>{{object.get_tag_sex_display}}</strong> w wieku <strong>{{object.get_tag_age_display}}</strong>.</p>
        <div class = "row justify-content-center">
            <img class="img-fluid mb-2" src="{{ object.photo_1.url }}">
        </div>
        <p class="article-content">{{ object.description }}</p>
        <div class="row justify-content-center">
            <div class="col">
            <img class="img-fluid mb-2 mt-2" src="{{ object.photo_2.url }}">
            </div>
            <div class="col">
            <img class="img-fluid mb-2 mt-2" src="{{ object.photo_3.url }}">
            </div>
        </div>
        <a class="mr-2" href="{% url 'market-home' %}"><button class="btn btn-sample btn-block">Wróć do marketu</button></a>
    </div>
</article>
{% endblock content %}
