{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h5>Ci użytkownicy mogą Ci się spodobać</h5>
        <div class="row">
            {% for user in users %}
            <div class="col">
                <img class="rounded-circle article-img" alt="Responsive image" src="{{ user.profile.image.url }}">
                <p><small><a class="mt-2" href="{% url 'profile' user.username %}">{{ user.username }}</a></small></p>
            </div>
            {% endfor %}
        </div>
    </div>
</article>

<article class="media content-section">
    <div class="media-body">
        <h5>Te produkty pasują do twojego opisy</h5>
        <div class="row">
            {% for product in products%}
            <div class="col">
                <a href="{% url 'product-detail' product.id %}"><img class="img-fluid" alt="Responsive image" src="{{ product.photo_1.url }}"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</article>


<article class="media content-section">
    <div class="media-body">
    <h5>Aktualności</h5>
    {% for action in actions %}
        {% with user=action.user profile=action.user.profile %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <div class="d-flex align-content-end flex-wrap">
                        <div class="p-2 mr-auto">
                            <img class="rounded-circle comment-img" src="{{ user.profile.image.url }}">
                        </div>
                        <div class="p-2 mr-auto">
                            <small><a class="mr-2" href="{% url 'profile' user.username %}">{{ user.username }}</a></small>
                        </div>
                        <div class="p-2 mr-auto">
                            <small class="text-muted">{{ action.created|timesince}} temu</small>
                        </div>
                    </div>
                </div>
                {% if action.verb == 'zaczął obserwować' %}
                    <small>{{ action.verb }}</small> <a href="{% url 'profile' action.target %}">{{action.target}}</a>
                {% else %}
                    <small>{{ action.verb }}</small> <a href="{{action.target.get_absolute_url}}">{{action.target}}</a>
                {% endif %}
            </div>
        </article>
        {% endwith %}
    {% empty %}
    <p>Dodawaj użytkowników do obserwoawanych by widzieć ich aktywność w ZaUsmiechBombelka</p>
    {% endfor %}
    </div>
</article>

{% endblock %}
