{% load crispy_forms_tags%}
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <div class="d-flex align-content-end flex-wrap" >
                <div class="p-2 mr-auto">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                </div>
                <div class="p-2 mr-auto">
                    <a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
                    <br>
                    <small class="text-muted mr-2">{{ post.date_posted|date:"d F Y" }}</small>
                </div>
            </div>
            {% if post.author == user %}
            <div class="d-flex bd-highlight" >
                <div class="mr-auto p-2 bd-highlight">
                    <a class="btn btn-danger btn-sm float-right" href="{% url 'post-delete' post.id%}"><span style="font-size:smaller;">Usuń</span></a>
                </div>
                <div class="p-2 bd-highlight">
                    <a class="btn btn-sample btn-sm float-right mr-2" href="{% url 'post-update' post.id%}"><span style="font-size:smaller;">Popraw</span></a>
                </div>
            </div>
            {% endif %}
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id%}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        <br>

        <br>
      <div class="d-flex bd-highlight" >
        <div class="mr-auto p-2 bd-highlight">
          <span class="count">
            <span style="font-size:smaller;">Polubień: <span class="total">{{ post.users_like.count}}</span></span>
          </span>
        </div>
        <div class="p-2 bd-highlight">
           <a href="#" data-id="{{ object.id }}" value="{{post.id}}" data-action="{% if request.user in object.users_like.all %}un{% endif %}like" class=" btn btn-sample like button">
              <span style="font-size:smaller;">{% if request.user not in object.users_like.all %}
                Like
                {% else %}
                  Unlike
                {% endif %}
              </span>
          </a>
        </div>
    </div>
    <br>

            <button class="btn btn-sample btn-block mt-1 mr-2" onclick="toggle_div_fun('{{ post.id }}');"><span style="font-size:smaller;">Zobacz komentarze ({{ post.comments.count }})</span></button>
            <div id="{{ post.id }}" style="display:none">
                <br>
                {% for comment in post.comments.all %}
                <article class="media content-section">
                <div class="media-body">
                            <div class="article-metadata">
                                <div class="d-flex align-content-end flex-wrap">
                                    <div class="p-2 mr-auto">
                                        <img class="rounded-circle comment-img" src="{{ comment.author.profile.image.url }}">
                                    </div>
                                    <div class="p-2 mr-auto">
                                       <small><a class="mr-2" href="{% url 'profile' comment.author.username %}">{{ comment.author }}</a></small>
                                       <br>
                                       <small class="text-muted">{{ comment.created_date|date:'d b, y' }}</small>
                                    </div>
                                </div>
                            </div>
                            <small class="text-justify" style="display: inline-block;">{{ comment.text|linebreaks }}</small>
                </div>
                </article>
                {% empty %}
                    <p>Ten post nie był jeszcze komentowany</p>
                {% endfor %}
                <article class="media content-section">
                  <div class="media-body">
                    <div class="article-metadata">
                      <div class="d-flex align-content-end flex-wrap">
                        <div class="p-2 mr-auto">
                          <img class="rounded-circle comment-img" src="{{ request.user.profile.image.url }}">
                        </div>
                        <div class="p-2 mr-auto">
                            <small><a class="mr-2" href="{% url 'profile' request.user.username %}">{{ request.user.username }}</a></small>
                            <br>
                            <small class="text-muted">Teraz</small>
                        </div>
                      </div>
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <div class="form-row">
                          <div class="form-group col">
                            {{ comment_form.text|as_crispy_field }}
                          </div>
                        </div>
                          <button class="btn btn-sample btn-block" type="submit" name="save_home" value="{{post.id}}"><small>Skomentuj</small></button>
                      </div>
                    </form>
                  </div>
                </article>
            </div>
</div>
</article>
{% endfor %}

